<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.teambuddy.handout"  version="1.0.0" versionCode="100">

	<name>Handout</name>
    <description></description>
    <author>Team buddy</author>
	
	<content src="index.html" />
	<access origin="*" />

	<gap:platforms>
		<gap:platform name="android" />
		       <icon src="images/icon_36.png" density="ldpi" />
              <icon src="images/icon_48.png" density="mdpi" />
              <icon src="images/icon_72.png" density="hdpi" />
              <icon src="images/icon_96.png" density="xhdpi" />
	</gap:platforms>
	
	<icon src="images/icon.png" gap:role="default" />
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<access origin="*" subdomains="true" />
	<access uri="*" subdomains="true" />
	
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="org.apache.cordova.camera" />
	<gap:plugin name="org.apache.cordova.file" />
	<gap:plugin name="org.apache.cordova.media" />
	<gap:plugin name="org.apache.cordova.media-capture" />
	<gap:plugin name="org.apache.cordova.geolocation" />
	<gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.9.0">
        <param name="APP_ID" value="1081077438599438" />
        <param name="APP_NAME" value="handout.me" />
    </gap:plugin>
    
	<feature name="File">
    <param name="android-package" value="org.apache.cordova.file.FileUtils" />
	</feature>
	<feature name="FileTransfer">
    <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
	</feature>
	
	<preference name="phonegap-version" value="3.7.0" />
	<preference name="fullscreen" value="true" />
	
	<preference name="android-minSdkVersion" value="14" />
</widget>