<div class="container-fluid" style="background:#efefef;min-height:100%;width:98%;" ng-controller="handoutCtrl">

<div class="form-group" style="padding:10px;">
      <label><h4>Post Title:</h4></label>
      <input type="text" placeholder="Enter title" class="form-control" ng-model="post_title">
    </div>
<div class="form-group" style="padding:10px;">
      <label><h4>Post Content:</h4></label>
    <textarea rows="5" placeholder="Enter content" class="form-control" ng-model="post_content"></textarea>
    </div>
    
        <div class="form-group" style="padding:10px;">
        <label><small>Posting as:</small></label>
            <br>
        <h4 style="font-weight:bolder;">{{user}}</h4>
            <hr>
            <button class="btn btn-custom btn-block" ng-click="addPost()">Post!</button>
    </div>
</div> 