<div id="post_announcement" ng-repeat="posts in post | limitTo:postQuantity">
<div class="container-fluid hvr-curl-top-right post_announcement" style="background:#ffffff;padding:10px;margin-bottom:10px;width:100%;">
<div class="media">
  <div class="media-left media-middle">
      <img src="templates/img/{{post.prio}}" class="media-object" >
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{posts.post_title | capitalize}}</h4><hr>
      <div class="media-content">
    {{posts.post_content | capitalize | words: 3}}
    </div>
  </div>
</div>
    <div class="container-fluid" style="background:#efefef;padding:5px;margin-top:20px;">
        <small><i class="fa fa-clock-o fa-fw"></i> &nbsp; Posted {{timeago}}  by: @{{post.user}}</small>
    </div>
    </div>
    </div>

<!--end announcement-->

<!--start poll-->
<!--
<div id="post_poll">
<div class="container-fluid hvr-curl-top-right" style="background:#ffffff;padding:10px;margin-bottom:10px;width:100%;">
<div class="media">
  <div class="media-left media-middle">
      <img src="templates/img/{{post.prio}}" class="media-object" >
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{post.question | capitalize}}</h4><Hr>
<canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-colours="colors" style="width:100%;"></canvas>
      <ol class="chart-legend">
          <li>
          <span style="background:#4DFF4D;"></span>
              Who voted YES
              </li>
          <li>
          <span style="background:#FF4D4D;"></span>
              Who voted NO
              </li>
      </ol>
  </div>
</div>
    <div class="container-fluid" style="background:#efefef;padding:5px;margin-top:20px;">
        <small><i class="fa fa-clock-o fa-fw"></i> &nbsp; Posted {{timeago}} by: @{{posts.user}}</small>
    </div>
</div>
    </div>
-->
    
