<a href="#/verified/{{username}}"><div id="verified_account">
<div class="container-fluid post_announcement" style="background:#ffffff;padding:10px;margin-bottom:10px;width:100%;">
<div class="media">
<!--
  <div class="media-left media-middle">
      <img src="templates/img/{{post.prio}}" class="media-object" >
  </div>
-->
  <div class="media-body">
    <h4 class="media-heading" style="color:#262626;">{{username | capitalize}} <i style="color:blue;" class="fa fa-check-circle fa-fw"></i></h4><hr>
  </div>
</div>
    </div>
    </div>
    </a>